* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#students-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.student-card {
    display: flex;
    border: 5px solid rgba(255, 151, 54, 0.692);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.144);
    padding: 50px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    text-align: center;
    flex-direction: row-reverse;
    background-color: white;
}

h1 {
    text-align: center;
    color: rgb(0, 113, 158);
}

.student-card:hover {
    scale: 1.10;
    transition: 300ms;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.836);
    border: 5px solid rgba(0, 109, 33, 0.774);
}
